:host {
  display: block;
}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}


#myCanvasContainer {
  background: #FFF;
  width: 1000px;
  height: 300px;
  border-radius: 10px;
}
li {
  display: none;
}
